* {
  box-sizing: border-box;
  margin: 0;
}

h1 {
  font-size: 3rem;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 40px;
  font-size: 1.5rem;
  background-color: #4C585B;
  color: #F4EDD3;
}

nav > ul {
  display: flex;
  list-style: none;
  padding: 0;
  gap: 20px;
}

nav > ul > li:hover {
  text-shadow: -1px 1px 0 currentColor;
  cursor: pointer;
}

.container {
  min-height: 100vh;
  min-width: 100vw;
}